<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:c="http://www.springframework.org/schema/c"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="welcomeMessageBean" class="com.niit.welcome.WelcomeMessage">

</bean>
<bean id="carObj" class="com.niit.welcome.Car" >
<property name="color" value="Red"></property>
</bean>


<!-- WelcomeMessage welcomeMessageBean=new com.niit.welcome.WelcomeMessage() -->
</beans>